.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100vh;
}

.sliderImg{
    height: 100vh;
}

.carousel-caption {
    position: absolute;
    right: 15%;
    bottom: 12.25rem;
    width: 32%;
    left: 4%;
    padding-top: 1.25rem;
    
    padding-bottom: 1.25rem;
    color: #fff;
    text-align: center;

}

.carousel-caption  > h3 {
    font-size: 4rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    font-family: 'Times New Roman', Times, serif;
     
    margin-bottom: 0;
}